/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica;
    font-size: 1em;
}

html {
    min-height: 100%;
}

body {
    background-color: hsl(46.67deg 24.32% 92.75%);
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* header */
.qanda-logo {
    width: 100px;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.navigation-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid hsl(46.67deg 20% 50%);
}

.nav-item {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}

/* Milestone 1 Styling */
.page-login, .page-register {
    align-self: center;
    display: flex;
    width: 320px;
    height: 700px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label {
    margin-bottom: 8px;
    color: black;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button {
    height: 45px;
    border: 0px;
    border-radius: 5px;
    width: 320px;
    padding: 0px;
}

.submit-box {
    padding: 18.5px 0px 18.5px;
}

#login-user,
#register-user
{
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    background-color: hsl(209.84deg 100% 40.18%);
}


input {
    border: 1px solid hsl(46.67deg 20% 50%);
    background-color: hsl(46.67deg 24.32% 92.75%);
    padding: 10px;
}

.register-text > p,
.login-text > p
{
    align-self: center;
    font-weight: 100;
    color: hsl(46.67deg 20% 10%);
    margin: 0px;
    text-align: center;
}

.link {
    color: hsl(209.84deg 100% 40.18%);
}

.link:hover {
    text-decoration: underline;
}

button:hover,
.link:hover
{
    cursor: pointer;
}

/*Milestone 2 Styling*/
#page-dashboard {
    margin-top: 100px;
    width: 100%;
    height: 85%;
    font-size: 0.9rem;
    overflow: hidden;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev-next-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#previous-button,
#next-button
{
    width: 100px;
}

/* Thread List Styling */
#threads-container {
    display: block;
    border-right: 0.1px solid hsl(46.67deg, 11%, 69%);
    font-size: 0.9rem;
    width: 250px;
}

#threads-list {
    height: 75%;
    overflow: auto;
}

#threads-list > * {
    border: 0.1px solid hsl(46.67deg, 11%, 69%);
    border-right: none;
    word-wrap: break-word;
    font-size: 0.9rem;
    padding: 5px 10px;
}

#threads-header {
    text-align: center;
    padding: 10px 0px;
}

#page-create-thread,
#page-edit-thread
{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thread-title,
#thread-content
{
    width: 100%;
    margin-bottom: 10px;
}

#edit-title,
#edit-content,
#submit-edit
{
    width: 75%;
    margin-bottom: 10px
}

#thread-content,
#edit-content
{
    height: 250px;
}

.checkboxes-container > * {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: top;
}

#thread-post,
#submit-edit
{
    border: 1px solid hsl(46.67deg, 5%, 46%);
    background-color: transparent;
}

.metadata-container,
.time-name-container,
.like-watchees-container
{
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
    justify-content: space-between;
}
.time-name-container > *,
.like-watchees-container > * {
    margin: 0px 5px;
}

/* Single Thread Styling */
#page-edit-thread,
#single-thread-container {
    width: 75%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 2;
}
.thread-title {
    font-weight: lighter;
    word-wrap: break-word;
}

.comment-title {
    font-weight: lighter;
}

.thread-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-around;
}

.stats-container {
    display: flex;
    flex-direction: row;
}

.stats-container > * {
    margin: 0px 10px;
    text-align: center;
}

.single-thread-buttons {
    display: flex;
}

.edit-button,
.delete-button
{
    background-color: transparent;
    font-size: 0.8rem;
    color: hsl(46.67deg, 5%, 46%);
    width: 50px;
    height: 1.1rem;
    text-align: start;
}

.edit-button:hover, 
.delete-button:hover {
    text-decoration: underline;
}

.edit-delete-container {
    display: flex;
}

.body-container {
    margin: 30px 0px 30px 10px;
    display: flex;
    flex-direction: row;
}

.like-button,
.watch-button
{
    width: 70px;
    justify-self: center;
    border: 0.5px solid hsl(46.67deg, 11%, 69%);
}

.content-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.time-created {
    font-size: 0.8rem;
    color: hsl(46.67deg, 5%, 46%);
}

/* Comments Styling */
#thread-comments {
    height: 300px;
    overflow: auto;
}

@media (min-height: 800px) {
    #thread-comments {
        height: 40vh;
    }
}
@media (min-height: 1000px) {
    #thread-comments {
        height: 60vh;
    }
}
#thread-comments > .body-container {
    margin: 10px 0px 10px 10px;
}

.comment-reply {
    width: 100%;
    height: 2rem;
    border: 1px solid hsl(46.67deg, 5%, 46%);
    margin: 10px 0px
}

.add-comment-container {
    display: flex;
    justify-content: space-between;
}

#comment-content {
    width: 75%;
}

#comment-post {
    width: 22%;
    margin-left: 10px;
}


/* Modal Styling */
.modal {
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 7px 7px hsl(0deg 0 0 /0.4);
    padding: 10px
}

.cancel-container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

#modal-cancel {
    background-color: transparent;
    color: hsl(46.67deg, 5%, 46%);
    width: 1rem;
}

#reply-content {
    height: 300px;
    margin: 10px 0px;

}

/* Button Styling */
.nav-item,
#thread-post,
#comment-post,
#previous-button,
#next-button,
#reply-post,
#reply-edit
{
    border: 1px solid hsl(46.67deg, 5%, 46%);
    background-color: hsl(46.67deg 24.32% 92.75%);
    color: black;
}

.nav-item:hover,
#thread-post:hover,
#comment-post:hover,
#previous-button:hover,
#next-button:hover,
#reply-post:hover,
#reply-edit:hover
{
    background-color: hsl(209.84deg 100% 40.18%);
    transition: 0.2s;
    border: 0;
    color: white;
}